* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

#text {
    background-color: black;
}

header {
    background:peru;
    text-transform: uppercase;
    font-size: 60px;
    height: 150px;
    border: 20px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container_big {
    border-bottom: 20px solid black;
}

#container_books {
    background-color: rgb(231, 181, 131);
    border-left: 20px solid black;
}

.cont-img {
    width: 100%;
    position: relative;
}

.cont-img:hover .icons{
    opacity: 1;
}

.cont-img:hover {
    transform: scale(1.1);
}

.cover {
    width: 100%;
    margin-bottom: 10px;
    display: block;
}

.icons {
    position: absolute;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 40px;
}

.icons i {
    margin: 10px 0;
    cursor: pointer;
}

.title {
    font-weight: bold;
}

.author {
    font-style: italic;
}

.price {
    color: darkred;
    font-weight: bold;
}

#text {
    border-right: 20px solid black;
    border-left: 10px solid black;
    background-color: rgb(231, 181, 131);
}

#text .title {
    margin-top: 20px;
    text-align: center;
}

#text span {
    text-transform: uppercase;
    font-size: 20px;
    vertical-align: middle;
}

#text i {
    font-size: 40px;
    vertical-align: middle;
}

#cart i, #wishlist i {
    font-size: 20px;
    cursor: pointer;
}

#totale {
    font-weight: bold;
    text-align: right;
    border-top: 2px solid black;
}

#wishlist {
    text-align: center;
}

#wishlist img {
    width: 50%;
    margin: auto;
}

